<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BubbleUp</display-name>
  <distributable/>
  <listener>
    <listener-class>com.manitech.bubbleup.www.listener.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.manitech.bubbleup.listener.StartupListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/applicationContext-dao.xml,
			/WEB-INF/applicationContext-manager.xml,
			/WEB-INF/applicationContext-service.xml,
			/WEB-INF/applicationContext.xml,
			/WEB-INF/spring-security.xml,
			/WEB-INF/spring-database.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>log4j-config-location</param-name>
    <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>ApplicationResources</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>ApplicationResources</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
    <param-value>en</param-value>
  </context-param>
 
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/WEB-INF/pages/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutPage</display-name>
    <servlet-name>LogoutPage</servlet-name>
    <jsp-file>/WEB-INF/pages/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutPage</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>staticResourceServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.servlet.StaticResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staticResourceServlet</servlet-name>
    <url-pattern>/static/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MasterRoleServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.role.MasterRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MasterRoleServlet</servlet-name>
    <url-pattern>/masterRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewPermissionServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.role.ViewPermissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPermissionServlet</servlet-name>
    <url-pattern>/viewPermission</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.EditUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/editUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/listUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveUserServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.SaveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveUserServlet</servlet-name>
    <url-pattern>/saveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>forgotPassword</display-name>
    <servlet-name>forgotPassword</servlet-name>
    <jsp-file>/WEB-INF/pages/forgotPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotPassword</servlet-name>
    <url-pattern>/forgotPassword</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <display-name>sendForgotPassword</display-name>
    <servlet-name>sendForgotPassword</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.SendForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendForgotPassword</servlet-name>
    <url-pattern>/sendForgotPassword</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>ValidateRegistrationTokenServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.ValidateRegistrationTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateRegistrationTokenServlet</servlet-name>
    <url-pattern>/validateToken</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.manitech.bubbleup.user.servlet.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>dashboard</servlet-name>
  	<servlet-class>com.manitech.bubbleup.dashboard.servlet.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dashboard</servlet-name>
  	<url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCompany</servlet-name>
    <jsp-file>/WEB-INF/pages/company/addCompany.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCompany</servlet-name>
    <url-pattern>/addCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveCompany</servlet-name>
    <servlet-class>com.manitech.bubbleup.company.servlet.SaveCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCompany</servlet-name>
    <url-pattern>/saveCompany</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addService</servlet-name>
    <jsp-file>/WEB-INF/pages/service/addService.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addService</servlet-name>
    <url-pattern>/addService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveServices</servlet-name>
    <servlet-class>com.manitech.bubbleup.company.servlet.SaveCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveServices</servlet-name>
    <url-pattern>/saveServices</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addWorker</servlet-name>
    <jsp-file>/WEB-INF/pages/worker/addWorker.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addWorker</servlet-name>
    <url-pattern>/addWorker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveWorkers</servlet-name>
    <servlet-class>com.manitech.bubbleup.company.servlet.SaveWorkerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveWorkers</servlet-name>
    <url-pattern>/saveWorkers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addVehicle</servlet-name>
    <jsp-file>/WEB-INF/pages/vehicle/addVehicle.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addVehicle</servlet-name>
    <url-pattern>/addVehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveVehicle</servlet-name>
    <servlet-class>com.manitech.bubbleup.company.servlet.SaveVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveVehicle</servlet-name>
    <url-pattern>/saveVehicle</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>200</session-timeout>
    <!-- <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode> -->
  </session-config>
</web-app>